APP_PORT=8080
APP_MODE=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=bus_booking
POSTGRES_SSLMODE=disable
REDIS_HOST=localhost
REDIS_PORT=6379

BOOKING_LOCK_TTL=300
KAFKA_BROKERS=localhost:29092